<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Information</title>
    <link rel="stylesheet" href="../css/output.css">
</head>

<body class="bg-gray-200">
    <header class="px-6 py-4 bg-white m-10 rounded-2xl">
        <ul class="flex justify-between">
            <li>
                <h1 class="text-2xl font-semibold">Admission Information</h1>
            </li>
        </ul>
        <ul class="flex text-xl mt-1">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="w-[15px] m-2"><img src="../svg/right-arrow.svg" alt="arrow"></li>
            <li class="text-dark-blue font-semibold">Admission Information</li>
        </ul>
    </header>

    <section class="bg-white p-6 m-10 rounded-sm">
        <table class="w-[100%]">
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Admission Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Admission No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Date of Admission</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Semester</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Course</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Branch</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Enrollment No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Roll No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Entrance Exam Details</p>
                </th>
                <td class="p-3 font-medium text-slate-800">
                    <div
                        class="float-right flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl w-[10%]">
                        <img class="w-[15px]" src="../svg/edit.svg" alt="">
                        <button class=" mx-1 text-white">Edit</button>
                    </div>
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Exam Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Exam Roll No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Merit Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Merit Rank</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Allotment Details</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Allotment Phase</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">DTE Application ID</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Allotment Qouta</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Class Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Class Roll No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Section</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Group</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Lab Group</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        PCM (Physics, Chemistry, Mathematics)</p>
                </th>
                <td class="p-3 font-medium text-slate-800">
                    <div
                        class="float-right flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl w-[10%]">
                        <img class="w-[15px]" src="../svg/edit.svg" alt="">
                        <button class=" mx-1 text-white">Edit</button>
                    </div>
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Physics</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Chemistry</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Mathematics</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Percentage</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">PCM Total Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        10th Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Course</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Passing Year</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">School/Institute</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Board/University</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Total Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Obtain Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Percentage</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Maximum CGPA</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Obtained CGPA</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        12th Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Course</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Passing Year</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">School/Institute</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Board/University</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Total Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Obtain Marks</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Percentage</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Maximum CGPA</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Obtained CGPA</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Uploaded Documents</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">10th</p>
                </th>
                <td class="p-3 border-[1px] border-slate-300">
                    <img class="w-[80px] h-[120px]" src="../png/doc.png" alt="image">
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">12th</p>
                </th>
                <td class="p-3 border-[1px] border-slate-300">
                    <img class="w-[80px] h-[120px]" src="../png/doc.png" alt="image">
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Diploma</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Graduation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Previous Academic Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <td colspan="2">
                    <table class="w-[99%] m-2 mb-6">
                        <tr class=" border-[1px] border-slate-300">
                            <th class=" border-[1px] border-slate-300 p-2">S. No</th>
                            <th class=" border-[1px] border-slate-300 p-2">QUALIFICATION</th>
                            <th class=" border-[1px] border-slate-300 p-2">COURSE NAME</th>
                            <th class=" border-[1px] border-slate-300 p-2">SCHOOL/COLLEGE</th>
                            <th class=" border-[1px] border-slate-300 p-2">BOARD/UNIVERSITY</th>
                            <th class=" border-[1px] border-slate-300 p-2">PERCENTAGE</th>
                            <th class=" border-[1px] border-slate-300 p-2">ACTION</th>
                        </tr>
                        <tr class=" border-[1px] border-slate-300">
                            <td colspan="6"
                                class="border-[1px] border-slate-300 text-center text-red-500 font-medium p-2">
                                Previous academic information not available..
                            </td>
                            <td class="border-[1px] border-slate-300"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Experience Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <td colspan="2">
                    <table class="w-[99%] m-2 mb-6">
                        <tr class=" border-[1px] border-slate-300">
                            <th class=" border-[1px] border-slate-300 p-2">S. No</th>
                            <th class=" border-[1px] border-slate-300 p-2">COMPANY NAME</th>
                            <th class=" border-[1px] border-slate-300 p-2">DESIGNATION</th>
                            <th class=" border-[1px] border-slate-300 p-2">START FROM</th>
                            <th class=" border-[1px] border-slate-300 p-2">END TO</th>
                            <th class=" border-[1px] border-slate-300 p-2">TOTAL YEAR</th>
                            <th class=" border-[1px] border-slate-300 p-2">ACTION</th>
                        </tr>
                        <tr class=" border-[1px] border-slate-300">
                            <td colspan="6"
                                class="border-[1px] border-slate-300 text-center text-red-500 font-medium p-2">
                                Experience not available..
                            </td>
                            <td class="border-[1px] border-slate-300"></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </Section>
</body>

</html>