<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent-Guardian Information</title>
    <link rel="stylesheet" href="../css/output.css">
</head>

<body class="bg-gray-200">
    <header class="px-6 py-4 bg-white m-10 rounded-2xl">
        <ul class="flex justify-between">
            <li>
                <h1 class="text-2xl font-semibold">Parent-Guardian Information</h1>
            </li>
        </ul>
        <ul class="flex text-xl mt-1">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="w-[15px] m-2"><img src="../svg/right-arrow.svg" alt="arrow"></li>
            <li class="text-dark-blue font-semibold">Parent-Guardian Information</li>
        </ul>
    </header>

    <section class="bg-white p-6 m-10 rounded-sm">
        <table class="w-[100%]">
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Father's Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800">
                    <div
                        class="float-right flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl w-[10%]">
                        <img class="w-[15px]" src="../svg/edit.svg" alt="">
                        <button class=" mx-1 text-white">Edit</button>
                    </div>
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Father's Photo</p>
                </th>
                <td class="p-3 border-[1px] border-slate-300">
                    <img class="w-[80px] h-[120px]" src="../png/doc.png" alt="image">
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Mobile No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Other</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Type Other</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Designation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Office Address</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Income</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Aadhar Card Number</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name as per Aadhar Card</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Father's Qualification</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <td colspan="2">
                    <table class="w-[99%] m-2 mb-6">
                        <tr class=" border-[1px] border-slate-300">
                            <th class=" border-[1px] border-slate-300 p-2">S. No</th>
                            <th class=" border-[1px] border-slate-300 p-2">EXAMINATION PASSED</th>
                            <th class=" border-[1px] border-slate-300 p-2">NAME OF SCHOOL/INSTITUTE</th>
                            <th class=" border-[1px] border-slate-300 p-2">BOARD /UNIVERSITY</th>
                            <th class=" border-[1px] border-slate-300 p-2">PERCENTAGE</th>
                            <th class=" border-[1px] border-slate-300 p-2">Operation</th>
                        </tr>
                        <tr class=" border-[1px] border-slate-300">
                            <td colspan="5"
                                class="border-[1px] border-slate-300 text-center text-red-500 font-medium p-2">
                                Not available..
                            </td>
                            <td class="border-[1px] border-slate-300"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Mother's Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800">
                    <div
                        class="float-right flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl w-[10%]">
                        <img class="w-[15px]" src="../svg/edit.svg" alt="">
                        <button class=" mx-1 text-white">Edit</button>
                    </div>
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Mother's Photo</p>
                </th>
                <td class="p-3 border-[1px] border-slate-300">
                    <img class="w-[80px] h-[120px]" src="../png/doc.png" alt="image">
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Mobile No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Other</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Occupation Type Other</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Designation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Office Address</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Income</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Aadhar Card Number</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name as per Aadhar Card</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Mother's Qualification</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <td colspan="2">
                    <table class="w-[99%] m-2 mb-6">
                        <tr class=" border-[1px] border-slate-300">
                            <th class=" border-[1px] border-slate-300 p-2">S. No</th>
                            <th class=" border-[1px] border-slate-300 p-2">EXAMINATION PASSED</th>
                            <th class=" border-[1px] border-slate-300 p-2">NAME OF SCHOOL/INSTITUTE</th>
                            <th class=" border-[1px] border-slate-300 p-2">BOARD /UNIVERSITY</th>
                            <th class=" border-[1px] border-slate-300 p-2">PERCENTAGE</th>
                            <th class=" border-[1px] border-slate-300 p-2">Operation</th>
                        </tr>
                        <tr class=" border-[1px] border-slate-300">
                            <td colspan="5"
                                class="border-[1px] border-slate-300 text-center text-red-500 font-medium p-2">
                                Not available..
                            </td>
                            <td class="border-[1px] border-slate-300"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Emergency Contact Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800">
                    <div
                        class="float-right flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl w-[10%]">
                        <img class="w-[15px]" src="../svg/edit.svg" alt="">
                        <button class=" mx-1 text-white">Edit</button>
                    </div>
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Person Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Relation</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Contact No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Address</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">State</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">City</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Pincode</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">
                        Guardian Information</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Guardian Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem, ipsum dolor.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Guardian Signature</p>
                </th>
                <td class="p-3 border-[1px] border-slate-300">
                    <img class="w-[100px] h-[60px]" src="../png/sign.png" alt="image">
                </td>
            </tr>
        </table>
    </Section>
</body>

</html>