<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    <link rel="stylesheet" href="../css/output.css">
</head>

<body class="bg-gray-200">
    <header class="px-6 py-4 bg-white m-10 rounded-2xl">
        <ul class="flex justify-between">
            <li>
                <h1 class="text-2xl font-semibold">Personal Information</h1>
            </li>
            <li
                class="flex justify-evenly px-4 py-2 bg-dark-blue brightness-125 hover:brightness-100 active:bg-blue-600 rounded-xl">
                <img class="w-[20px]" src="../svg/edit.svg" alt="">
                <button class="text-lg mx-1 text-white">Edit</button>
            </li>
        </ul>
        <ul class="flex text-xl">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="w-[15px] m-2"><img src="../svg/right-arrow.svg" alt="arrow"></li>
            <li class="text-dark-blue font-semibold">Personal Information</li>
        </ul>
    </header>

    <section class="bg-white p-6 m-10 rounded-sm">
        <table class="w-[100%]">
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">NEERAJ KUMAR</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Gender</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">MALE</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Date of Birth</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">90-78-6772</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Phone No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">2672716382</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Alt. Phone No</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">1728718729</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Social Media Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Linkedin</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Social Media Link</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit.
                    Velit, amet!</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Email ID</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Religion</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Religion Other</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Blood Group</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">Postal Address</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">State</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">District</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit.</td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Pincode</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Address</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">Bank Details</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Account Holder Type</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Account Holder</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Account Number</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Bank Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">IFSC Code</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Branch Name</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Aadhar Card Number</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Name as per Aadhar Card</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200 border-[1px] border-slate-300">
                <th class="w-[40%] p-3">
                    <p class="float-left text-xl text-dark-blue brightness-150">Category Details</p>
                </th>
                <td class="p-3 font-medium text-slate-800"></td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Category</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Domicile State</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="odd:bg-slate-200">
                <th class="w-[40%] p-3 border-[1px] border-slate-300">
                    <p class="float-left">Domicile District</p>
                </th>
                <td class="p-3 font-medium text-slate-800 border-[1px] border-slate-300">Lorem ipsum dolor sit amet.
                </td>
            </tr>
        </table>
    </Section>
</body>

</html>